<p class="footer-text">
  &copy; <span id="year"><%= new Date().getFullYear() %></span>
  <p class="site-footer__error-link">
    <a href="/error-test">Test Error</a>
  </p>
  CSE Motors. All rights reserved.
</p>

