<footer class="site-footer">
  <p class="footer-text">
    &copy; <span id="year"><%= new Date().getFullYear() %></span>
    CSE Motors. All rights reserved.
  </p>
  <p class="site-footer__error-link">
    <a href="/error-test">Test Error</a>
  </p>
</footer>
