<nav class="site-nav" aria-label="Main navigation">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>

    <% if (navClassifications && navClassifications.length) { %>
      <% navClassifications.forEach(function (c) { %>
        <li>
          <a href="/inv/type/<%= c.classification_id %>">
            <%= c.classification_name %>
          </a>
        </li>
      <% }); %>
    <% } %>
  </ul>
</nav>
