<!-- views/inventory/management.ejs -->

<h1>Vehicle Management</h1>

<% if (typeof notice !== "undefined" && notice) { %>
  <p class="notice"><%= notice %></p>
<% } %>

<ul class="inv-management-links">
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>
